<section class="hero container">

  <h1 class="hero-title">
    Cuide da sua saúde com praticidade e segurança.
  </h1>

  <div class="hero-image">
    <img src="assets/Medicoshome.png" alt="Ilustração médica" />
  </div>

  <p class="hero-subtitle">
    Agende consultas, acompanhe seu histórico médico e mantenha o controle da
    sua saúde de forma simples e centralizada.
  </p>

  <div class="hero-buttons">
    <button class="btn-primary">Entrar agora</button>
    <a href="#" class="link-secundario">Criar conta gratuita</a>
  </div>

</section>


<!-- CARDS -->
<section class="cards">
  <div class="container">

    <div class="card">
      <h3>Cadastro Seguro e Simples</h3>
      <p>Crie sua conta com CPF, e-mail validado ou login com Google (OAuth).</p>
    </div>

    <div class="card">
      <h3>Agendamento Rápido</h3>
      <p>Marque e visualize consultas em poucos cliques.</p>
    </div>

    <div class="card">
      <h3>Acesso ao Prontuário</h3>
      <p>Histórico médico completo e protegido pela LGPD.</p>
    </div>

    <div class="card">
      <h3>Comunicação Direta</h3>
      <p>Converse com sua clínica ou médico de forma privada e segura.</p>
    </div>

  </div>
</section>


<!-- PARA QUEM É O AGIMED -->
<section class="cards-usuarios">
  <div class="container">

    <h2 class="usuarios-title">Para quem é o AgiMed</h2>

    <div class="usuarios-wrapper">

      <div class="usuario-card">
        <div class="icon">
          <img src="assets/material-symbols_medical-services-rounded.png" alt="Ícone Médicos" />
        </div>
        <h3>Médicos</h3>
        <p>Visualize consultas, acesse prontuários e acompanhe o histórico de seus pacientes em tempo real.</p>
      </div>

      <div class="usuario-card">
        <div class="icon">
          <img src="assets/noto_woman-office-worker.png" alt="Ícone Secretárias" />
        </div>
        <h3>Secretárias</h3>
        <p>Gerencie agendamentos, mensagens de pacientes e agenda médica de forma organizada.</p>
      </div>

      <div class="usuario-card">
        <div class="icon">
          <img src="assets/material-symbols_stethoscope.png" alt="Ícone Pacientes" />
        </div>
        <h3>Pacientes</h3>
        <p>Agende consultas, receba lembretes e converse com seu médico de forma segura.</p>
      </div>

    </div>

  </div>
</section>


<!-- AGIMED MOBILE -->
<section class="agimed-mobile">
  <div class="container">

    <h2 class="mobile-title">Leve o AgiMed com você.</h2>

    <div class="mobile-wrapper">

      <!-- IMAGEM -->
      <div class="mobile-image">
        <img src="assets/iPhone 15.png" alt="Mockup AgiMed App">
      </div>

      <!-- TEXTO AO LADO -->
      <div class="mobile-content">

        <h3 class="how-title">Como funciona?</h3>

        <ul class="how-list">
          <li><span>1</span> Baixe o App</li>
          <li><span>2</span> Crie sua conta como paciente, médico ou secretária</li>
          <li><span>3</span> Confirme seu e-mail</li>
          <li><span>4</span> Acesse e gerencie suas consultas e histórico médico</li>
        </ul>

        <div class="privacy">
          <h4>Segurança e Privacidade</h4>
          <p>
            A AgiMed segue as normas da LGPD e adota protocolos de autenticação segura (OAuth) e
            criptografia de dados. Todas as informações são armazenadas de forma confidencial e
            acessíveis apenas a usuários e administradores autorizados.
          </p>
        </div>

        <div class="store-buttons">
          <a class="btn-store" href="#">
            <img src="assets/logos_google-play-icon.png" alt="">
            <span>Google Play</span>
          </a>

          <a class="btn-store" href="#">
            <img src="assets/qlementine-icons_mac-24.png" alt="">
            <span>App Store</span>
          </a>
        </div>


      </div>

    </div>
  </div>
</section>

<section class="depoimentos">
  <div class="container">

    <h2 class="depo-title">Depoimentos</h2>

    <div class="depo-wrapper">

      <!-- Depoimento 1 -->
      <div class="depo-card">
        <img src="assets\unsplash_wKnPcfbM86I.png" alt="Usuário">

        <div class="depo-content">
          <p class="depo-text">
            “A AgiMed mudou a forma como agendo consultas — simples e confiável!”
          </p>
          <p class="depo-user">
            — Ana Paula, <span>paciente.</span>
          </p>
        </div>
      </div>

      <!-- Depoimento 2 -->
      <div class="depo-card">
        <img src="assets/unsplash_r7fMcJUMCas.png" alt="Usuário">

        <div class="depo-content">
          <p class="depo-text">
            “O aplicativo otimizou meu tempo e melhorou o contato com meus pacientes.”
          </p>
          <p class="depo-user">
            — Juliana, <span>Médica.</span>
          </p>
        </div>
      </div>

    </div>

  </div>
</section>
